services:
  database:
    image: postgres
    restart: always
    # set shared memory limit when using docker-compose
    shm_size: 128mb
    env_file:
      - .env
    ports:
      - ${POSTGRES_PORT}:5432

  pgadmin:
    image: dpage/pgadmin4
    env_file:
      - .env
    user: '$UID:$GID'
    ports:
      - ${PGADMIN_DEFAULT_PORT}:80
    # volumes:
    #   - ./docker-data/pgadmin-data:/var/lib/pgadmin
